<div id="<%= dom_id topic %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= topic.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= topic.content %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this topic", topic, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    
    <% if user_signed_in? %>
      <%= link_to 'Edit this topic', edit_topic_path(topic), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <% end %>
    <hr class="mt-6">
  <% end %>
</div>
