<div class="mx-auto md:w-2/3 w-1/3 flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= turbo_stream_from @topic %>
    <%= turbo_frame_tag "topic" do %>
      <%= render @topic %>

      <%= link_to 'Edit this topic', edit_topic_path(@topic), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <div class="inline-block ml-2">
        <%= link_to 'Destroy this topic', topic_path(@topic),
         data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>
    <% end %>
      <%= link_to 'Back to topics', topics_path, "data-turbo-frame": "_top", class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    
    <div class="mx-auto py-8 space-y-8">
    <h1 class="bg-gray-100 p-3 text-center">Comments</h1>
      <div id="messages">
        <%= render @topic.messages %>
      </div>
      <div>
        <%= turbo_frame_tag "new_message", src: new_topic_message_path(@topic),
         target: "_top" %>
      </div>
    </div>

  </div>

</div>
